<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taoyuan.framework.aaa.dao.TyPermissionMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->
    <resultMap id="permTree" type="com.taoyuan.framework.common.entity.TyPermission">
        <result column="id" property="id" javaType="java.lang.Long"/>
        <result column="name" property="name" javaType="java.lang.String"/>
        <result column="parent_id" property="parentId" javaType="java.lang.Long"/>
        <result column="url" property="url" javaType="java.lang.String"/>
        <result column="view" property="view" javaType="java.lang.String"/>
        <result column="icon" property="icon" javaType="java.lang.String"/>
        <result column="permission" property="permission" javaType="java.lang.String"/>
        <result column="order" property="order" javaType="java.lang.Integer"/>
        <collection column="{id=id, userId=userId, resourceType=resourceType}" property="children" ofType="TyPermission" javaType="java.util.List" select="selectPermChildById"/>
    </resultMap>

    <sql id="selectPerm">
        SELECT
          tp.*,
          #{userId} as userId,
          #{resourceType} as resourceType
        FROM
          ty_role_permission trp
        LEFT JOIN ty_permission tp ON trp.permission_id = tp.id
        WHERE
          tp.enabled = 1 AND
          tp.resource_type = #{resourceType} AND
          trp.role_id IN (
            SELECT
              role_id
            FROM
              ty_user_role tur
            LEFT JOIN ty_role tr ON tur.role_id = tr.id
            WHERE
              tr.enabled = 1 AND
              tur.user_id = #{userId}
            )
    </sql>
    <select id="selectPermByUser" resultMap="permTree">
      <include refid="selectPerm"/>
      AND parent_id is NULL
      ORDER by tp.order asc
    </select>
    
    <select id="selectPermChildById" resultMap="permTree">
        <include refid="selectPerm"/>
        AND parent_id = #{id}
        ORDER by tp.order asc
    </select>

    <!--<select id="selectPermByUser" parameterType="com.taoyuan.framework.common.entity.TyUser" resultType="com.taoyuan.framework.common.entity.TyPermission">-->
        <!--SELECT-->
        <!--tp.*-->
        <!--FROM-->
        <!--ty_role_permission trp-->
        <!--LEFT JOIN ty_permission tp ON trp.permission_id = tp.id-->
        <!--WHERE-->
        <!--tp.enabled = 1 AND-->
        <!--tp.resource_type = 'action' AND-->
        <!--trp.role_id IN (-->
        <!--SELECT-->
        <!--role_id-->
        <!--FROM-->
        <!--ty_user_role tur-->
        <!--LEFT JOIN ty_role tr ON tur.role_id = tr.id-->
        <!--WHERE-->
        <!--tr.enabled = 1 AND-->
        <!--tur.user_id = #{id}-->
        <!--)-->
    <!--</select>-->

    <select id="selectMenuByUser" parameterType="com.taoyuan.framework.common.entity.TyUser" resultType="com.taoyuan.framework.common.entity.TyPermission">
        SELECT
        tp.*
        FROM
        ty_role_permission trp
        LEFT JOIN ty_permission tp ON trp.permission_id = tp.id
        WHERE
        tp.enabled = 1 AND
        tp.resource_type = 'menu' AND
        trp.role_id IN (
        SELECT
        role_id
        FROM
        ty_user_role tur
        LEFT JOIN ty_role tr ON tur.role_id = tr.id
        WHERE
        tr.enabled = 1 AND
        tur.user_id = #{id}
        )
    </select>

</mapper>